* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 232px;
    font-family: "Nunito", sans-serif;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.waves-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #111;
}

.waves-container svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: .95;
}

path {
    fill:url(#MyGradient)
}
